/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --page-bg-image: url("../images/cover-image-dark.png");
  --page-bg-color: #000028;
  --color-title: #000028;
  --accent-color: #FF0070;
  --card-text: #F1B2CE;
  --heading-color: #DB00FF;
  --section-title: #FF0070;

}


:root.theme-dark .header__rec {
  display: inline-block;
}