/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {

  --page-bg-image: url("../images/cover-image-light.png");
  --page-bg-color: #FFF1F7;
  --color-title: #353430;

  --accent-color: #FF8DCB;
  --card-text: #353430;
  --heading-color: #FFC2E6;
  --section-title: #353430;
  --border-color-hover: rgba(50, 49, 45, 0.4);
}

:root.theme-light .header__rec {
  display: none;
}


@media (prefers-color-scheme: light) {
  :root {
    --page-bg-image: url("../images/cover-image-light.png");
    --page-bg-color: #FFF1F7;
    --color-title: #353430;

    --accent-color: #FF8DCB;
    --card-text: #353430;
    --heading-color: #FFC2E6;
    --section-title: #353430;
    --border-color-hover: rgba(50, 49, 45, 0.4);
  }

  .header__rec {
    display: none;
  }

}