:root {

  /* фон страницы для тёмной темы */
  --page-bg-image: url("../images/cover-image-dark.png");
  --page-bg-color: #000028;


  /* переменные шрифтов */
  --color-title: #000028;
  --accent-color: #FF0070;
  --section-title: #FF0070;
  --card-text: #F1B2CE;
  --main-font-size: 18px;
  --main-line-height: 23.4px;
  --heading-color: #DB00FF;
  --border-color-hover: rgba(255, 0, 112, 0.4);
  --logo-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);

  /* отступы */
  --page-padding: 10px;
  --base-gap: clamp(10px, 2.65vw, 20px);
  --section-padding-inline: 10px;
  --section-padding-block: 40px;
  --min-page-size: 668px;
  --section-gap: clamp(49px, 7.38vw - 24.8px, 78px);



}


@media (width >= 768px) {
  :root {
    --logo-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}